In [1]:
# import os
# import random
# import time
# import collections
# import json
# from collections import Counter

# import numpy as np
import pandas as pd
# import pandasql as pdsql
# import miceforest as mf
# from warnings import simplefilter
# from tqdm import tqdm
# from sklearn.exceptions import ConvergenceWarning
# simplefilter("ignore", category=ConvergenceWarning)
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import SimpleImputer, IterativeImputer

# from utils.util_preprocess import *
# #from utils.softimpute import softimpute, cv_softimpute

In [3]:
path_dataset = "/Users/kaiyuli/Documents/Research/DataMarket/_dataset/Student/"

In [4]:
df_fed = pd.read_csv(path_dataset+"FINREV_FED_17.csv")

In [23]:
df_fed

,state_code,idcensus,school_district,nces_id,yr_data,t_fed_rev,c14,c25
0,33,33203100130100,NEW YORK CITY SCHOOL DISTRICT,3620580,17,2061297,956851,439209
1,5,5501905900000,LOS ANGELES UNIF SCH DIST,622710,17,1146298,376182,390711
2,14,14501615800000,CITY OF CHICAGO SCHOOL DISTRICT 299,1709930,17,783943,290912,200517
3,10,10501300100000,MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT,1200390,17,451479,139461,138098
4,39,39505100100000,PHILADELPHIA SCHOOL DISTRICT,4218990,17,321363,140449,80566
...,...,...,...,...,...,...,...,...
14301,46,46501490400000,BRIDGEWATER POMFRET JOINT CONTRACT SCH DIST,5000389,17,0,0,0
14302,47,47211050130100,FAIRFAX CITY SCHOOLS,5101230,17,0,0,0
14303,48,48500401200000,STEHEKIN SCHOOL DISTRICT 69,5308430,17,0,0,0
14304,48,48501900200000,DAMMAN SCHOOL DISTRICT 7,5301950,17,0,0,0
14305,50,50100800830100,CALUMET COUNTY CHILDREN WITH DISABILITIES EDUC...,5500049,17,0,0,0

In [26]:
53* 14074 * 5302*2660*2987*26*48 / 10**19

3.921611651758505

In [6]:
df_key = pd.read_csv(path_dataset+"FINREV_FED_KEY_17.csv")

In [24]:
df_key.nunique()

State_Code     51
State          51
#_Records      48
dtype: int64

In [27]:
df_key

    State_Code                  State  #_Records
0             1               Alabama        137
1             2                Alaska         54
2             3               Arizona        235
3             4              Arkansas        250
4             5            California       1046
5             6              Colorado        197
6             7           Connecticut        174
7             8              Delaware         19
8             9  District of Columbia          1
9            10               Florida         67
10           11               Georgia        196
11           12                Hawaii          1
12           13                 Idaho        116
13           14              Illinois        983
14           15               Indiana        313
15           16                  Iowa        342
16           17                Kansas        310
17           18              Kentucky        173
18           19             Louisiana         69
19           20                 Maine        253
20           21              Maryland         24
21           22         Massachusetts        321
22           23              Michigan        595
23           24             Minnesota        392
24           25           Mississippi        144
25           26              Missouri        518
26           27               Montana        420
27           28              Nebraska        262
28           29                Nevada         17
29           30         New Hampshire        176
30           31            New Jersey        585
31           32            New Mexico         89
32           33              New York        682
33           34        North Carolina        116
34           35          North Dakota        207
35           36                  Ohio        713
36           37              Oklahoma        517
37           38                Oregon        216
38           39          Pennsylvania        596
39           40          Rhode Island         39
40           41        South Carolina         89
41           42          South Dakota        150
42           43             Tennessee        142
43           44                 Texas       1045
44           45                  Utah         41
45           46               Vermont        301
46           47              Virginia        133
47           48            Washington        304
48           49         West Virginia         63
49           50             Wisconsin        425
50           51               Wyoming         48

In [9]:
df_nde = pd.read_csv(path_dataset+"NDECoreExcel_Math_Grade.csv")

In [28]:
df_nde

    year                 state  all_students  average_scale_score
0   2017              National  All students                  283
1   2017               Alabama  All students                  268
2   2017                Alaska  All students                  277
3   2017               Arizona  All students                  282
4   2017              Arkansas  All students                  274
5   2017            California  All students                  277
6   2017              Colorado  All students                  286
7   2017           Connecticut  All students                  284
8   2017              Delaware  All students                  278
9   2017  District of Columbia  All students                  266
10  2017                 DoDEA  All students                  293
11  2017               Florida  All students                  279
12  2017               Georgia  All students                  281
13  2017                Hawaii  All students                  277
14  2017                 Idaho  All students                  284
15  2017              Illinois  All students                  282
16  2017               Indiana  All students                  288
17  2017                  Iowa  All students                  286
18  2017                Kansas  All students                  285
19  2017              Kentucky  All students                  278
20  2017             Louisiana  All students                  267
21  2017                 Maine  All students                  284
22  2017              Maryland  All students                  281
23  2017         Massachusetts  All students                  297
24  2017              Michigan  All students                  280
25  2017             Minnesota  All students                  294
26  2017           Mississippi  All students                  271
27  2017              Missouri  All students                  281
28  2017               Montana  All students                  286
29  2017              Nebraska  All students                  288
30  2017                Nevada  All students                  275
31  2017         New Hampshire  All students                  293
32  2017            New Jersey  All students                  292
33  2017            New Mexico  All students                  269
34  2017              New York  All students                  282
35  2017        North Carolina  All students                  282
36  2017          North Dakota  All students                  288
37  2017                  Ohio  All students                  288
38  2017              Oklahoma  All students                  275
39  2017                Oregon  All students                  282
40  2017          Pennsylvania  All students                  286
41  2017          Rhode Island  All students                  277
42  2017        South Carolina  All students                  275
43  2017          South Dakota  All students                  286
44  2017             Tennessee  All students                  279
45  2017                 Texas  All students                  282
46  2017                  Utah  All students                  287
47  2017               Vermont  All students                  288
48  2017              Virginia  All students                  290
49  2017            Washington  All students                  289
50  2017         West Virginia  All students                  273
51  2017             Wisconsin  All students                  288
52  2017               Wyoming  All students                  289

In [11]:
len(df_fed) + len(df_key) + len(df_nde)

14410

# 1. Data Preparation

In [3]:
# preprocess a dataset
# check the initialized schema manually first.
df = pd.read_csv(path_dataset + "census13/original.csv")
df['education_num'] = df['education_num'].astype('object')

In [ ]:
# for k in df.keys():
#     print(df[k].dtype)

In [4]:
# df_arr original table to vectors
#         integer remains int64
#         float remains float64
#         others to category
# mapping schema
df_arr, mapping = df_2_array(df)

In [7]:
#mapping

# 2. Setting

In [5]:
missing_rate = 0.3
pattern = 0
budget = 0.01

multiple_imputing_num = 10 # number of models for multiple imputing

grid_len_softimputing = 15 # parameter for soft imputing

# 3. Workloads

In [12]:
query = [{'col':'age', 'center': 22, 'width':4, 'col_num':0},
         {'col':'workclass', 'center': 7, 'width':0, 'col_num':1}]

# 4. Generate incomplete table

## 4.1 customed missing

In [42]:
# # x_miss incomplete data --- vector
# # df_miss                --- dataframe, deep copy of x_miss
# mask, x_miss, real_miss_rate = generate_incomplete_table(df_arr.to_numpy(), missing_rate=missing_rate, pattern=pattern)
# miss_rows, miss_cols = np.where(np.isnan(x_miss))
# df_miss = transform_vector_to_df(x_miss, mapping, df_arr.keys().tolist())

## 4.2 MICE random missing

In [6]:
# do not deep copy df_miss or x_miss
# df_miss have the same schema with df_arr
#         but all numbers are float64
# df_miss and x_miss do not share the same part of memory
df_miss = mf.ampute_data(df_arr, perc=missing_rate, random_state=1991)
x_miss = df_miss.to_numpy()
miss_rows, miss_cols = np.where(np.isnan(x_miss))

# 5. data acquisition

## 5.1 random acquisition

In [8]:
acquired_df_miss = random_value_acquisition(df_miss, df_arr, budget, queries)

In [9]:
#np.count_nonzero(np.isnan(x_miss))-np.count_nonzero(np.isnan(acquired_x_miss))
print(df_miss.isna().sum().sum()-acquired_df_miss.isna().sum().sum())

1904

In [10]:
formalize_df(acquired_df_miss, mapping, df.keys().to_list())

## 5.2 greedy acquisition

In [114]:
acquired_df_miss = greedy_acquisition(df_miss, df_arr, budget, queries)

In [115]:
#np.count_nonzero(np.isnan(x_miss))-np.count_nonzero(np.isnan(acquired_x_miss))
print(df_miss.isna().sum().sum()-acquired_df_miss.isna().sum().sum())

1901

In [116]:
formalize_df(acquired_df_miss, mapping, df.keys().to_list())

# Test

In [13]:
# get the dataframe of acquired answer and ground truth
data_product = query_on_df(query, acquired_df_miss)
ground_truth = query_on_df(query, df_arr)

In [14]:
# get precision
ground_truth_indexes = set(ground_truth.index.values.tolist())
data_product_indexes = set(data_product.index.values.tolist())
intersect = ground_truth_indexes.intersection(data_product_indexes)
precision = len(intersect)/len(ground_truth_indexes)

In [15]:
# get rmse = precision * RMSE
indexes_lst = list(intersect)
imputing_error = get_avg_error(df_arr.iloc[indexes_lst], acquired_df_miss.iloc[indexes_lst], mapping)
rmse = precision*(1-imputing_error)

print(rmse, precision)

0.39218442827427674 0.4883720930232558

# Multiple test

In [7]:
queries = []
with open("queries.json") as f:
    for eachline in f:
        query = json.loads(eachline.strip('\n'))
        queries.append(query['data'])

In [13]:
times = []
precisions = []
rmses = []
idx = []
for budget in range(5):
    budget = (budget+1)*0.01

    # acquisition results : acquired_df_miss
    st = time.time()
    acquired_df_miss = random_value_acquisition(df_miss, df_arr, budget, query)
    et = time.time()

    formalize_df(acquired_df_miss, mapping, df.keys().to_list())
    
    pres = 0
    rs = 0
    
    for query in tqdm(queries):
        # get the dataframe of acquired answer and ground truth
        data_product = query_on_df(query, acquired_df_miss)
        ground_truth = query_on_df(query, df_arr)

        # get precision
        ground_truth_indexes = set(ground_truth.index.values.tolist())
        data_product_indexes = set(data_product.index.values.tolist())
        intersect = ground_truth_indexes.intersection(data_product_indexes)
        precision = len(intersect)/len(ground_truth_indexes)

        # get rmse = precision * RMSE
        indexes_lst = list(intersect)
        imputing_error = get_avg_error(df_arr.iloc[indexes_lst], acquired_df_miss.iloc[indexes_lst], mapping)
        rmse = precision*(1-imputing_error)
        
        pres += precision
        rs += rmse
    
    idx.append(budget)
    times.append(et-st)
    precisions.append(pres/len(queries))
    rmses.append(rs/len(queries))

result = pd.DataFrame({"time": times, "precision": precisions, "rmse":rmses}, index=idx)
result.to_csv("greedy.csv")

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 269.84it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 282.32it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 284.78it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 266.40it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 282.77it/s]

In [37]:
len(queries)

50

In [22]:
W[0]

0.0038386789169023647

In [15]:
# with open("UNBA.csv", 'w') as f:
times = []
precisions = []
recalls = []
F1s = []
rmses = []
for budget in [0.01]:
    ts = 0
    pres = 0
    recs = 0
    fs = 0
    rs = 0
    
    # acquisition results : acquired_df_miss
    st = time.time()
    acquired_df_miss = one_pass_max_uncertainty(df_miss, df_arr, budget, query)
    et = time.time()
    
    for query in tqdm(queries):
        
        imputed_data = IterativeImputer(random_state=0, max_iter=50).fit_transform(acquired_df_miss)
        df_imputed = pd.DataFrame(imputed_data, columns = df.keys().to_list())
        formalize_imputed_df(df_imputed, mapping, df.keys().to_list())

        data_product = query_on_df(query, df_imputed)
        ground_truth = query_on_df(query, df_arr)

        ground_truth_indexes = set(ground_truth.index.values.tolist())
        data_product_indexes = set(data_product.index.values.tolist())
        intersect = ground_truth_indexes.intersection(data_product_indexes)
        indexes_lst = list(intersect)
        imputing_error = get_avg_error(df_arr.iloc[indexes_lst], df_imputed.iloc[indexes_lst], mapping)
        precision = len(intersect)/len(ground_truth_indexes)
        recall = len(intersect)/len(data_product_indexes)
        F1 = 2 * (precision * recall) / (precision + recall)
        rmse = F1*(1-imputing_error)

        ts += (et-st)
        pres += precision
        recs += recall
        fs += F1
        rs += rmse

    times.append(ts/10)
    precisions.append(pres/10)
    recalls.append(recs/10)
    F1s.append(fs/10)
    rmses.append(rs/10)
#     f.write(str(times[-1])+'\t'+
#             str(precisions[-1])+'\t'+
#             str(recalls[-1])+'\t'+
#             str(F1s[-1])+'\t'+
#             str(rmses[-1])+'\t'+
#             '\n')

# ts += (et-st)
# pres += pres
# rs += rmse

  0%|                                                                                                                                                                                                                                 | 0/10 [00:00<?, ?it/s]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 10%|█████████████████████▎                                                                                                                                                                                               | 1/10 [23:19<3:29:58, 1399.86s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 20%|██████████████████████████████████████████▌                                                                                                                                                                          | 2/10 [45:00<2:58:50, 1341.30s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 30%|███████████████████████████████████████████████████████████████▎                                                                                                                                                   | 3/10 [1:08:40<2:40:42, 1377.49s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 40%|████████████████████████████████████████████████████████████████████████████████████▍                                                                                                                              | 4/10 [1:31:43<2:17:57, 1379.53s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 50%|█████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                                         | 5/10 [1:54:37<1:54:48, 1377.63s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 60%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                    | 6/10 [2:18:28<1:33:03, 1395.77s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 70%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋                                                               | 7/10 [2:40:01<1:08:06, 1362.15s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 80%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                          | 8/10 [3:03:57<46:11, 1385.56s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

 90%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋                     | 9/10 [3:27:51<23:20, 1400.67s/it]/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-3
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 2
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 3
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 4
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
2  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
3  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [3:51:39<00:00, 1389.98s/it]

In [16]:
df_random = pd.DataFrame(data={'budget':[0.01], 'time':times, 'precision':precisions, 'recall':recalls, 'F1':F1s, 'rmse':rmses})

In [17]:
df_random.to_csv("UNBA.csv")

## 5.2 expectation maximum

In [34]:
acquired_df_miss = one_pass_max_uncertainty(df_miss, df_arr, budget, query)

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-1
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
Dataset 1
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country

[{'col': 'age', 'center': 22, 'width': 4, 'col_num': 0},
 {'col': 'workclass', 'center': 7, 'width': 0, 'col_num': 1}]

In [66]:
acquired_df_miss = random_sample_acquisition(df_miss, df_arr, budget, query)

In [104]:
df_miss_copy = df_miss.copy()
budget_units = int(budget*len(miss_rows))+1
query_columns = [q['col_num'] for q in query]

In [106]:
while budget_units>0:
    
    _rows, _cols = np.where(np.isnan(df_miss_copy.to_numpy()))
    candidate_rows = get_candidate_rows(query_columns, _rows, _cols)

    # Create kernels. 
    kernel = mf.ImputationKernel(
      data=df_miss_copy,
      datasets=multi_imp_num,
      save_all_iterations=False,
      random_state=1991,
    )

    # Run the MICE algorithm for 3 iterations on each of the datasets
    kernel.mice(multi_imp_iter, verbose=True, min_data_in_leaf = 6)
    acq_task = get_utility_score(kernel, query, candidate_rows, 500)
    
    if len(acq_task)!=0:
        for line in acq_task:
            for c in query_columns:
                if pd.isna(df_miss_copy.iat[line[0], c])==True:
                    budget_units -= 1
                    df_miss_copy.iat[line[0],c] = df_arr.iat[line[0],c]
    else:
        acq_task = random.sample(candidate_rows, budget)
        for line in acq_task:
            for c in query_columns:
                if pd.isna(df_miss_copy.iat[line, c])==True:
                    budget_units -= 1
                    df_miss_copy.iat[line,c] = df_arr.iat[line,c]
                    
    print(len(acq_task), budget_units)

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-1
Dataset 0
1  | age | workclass | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
102 1788
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
116 1653
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
90 1543
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
91 1434
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
67 1350
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
83 1250
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
67 1168
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
55 1093
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
46 1035
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
47 974
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
50 914
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
46 853
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
46 794
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
31 747
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
40 694
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
41 637
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
34 589
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
35 541
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
43 484
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
34 436
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
33 388
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
41 335
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
34 283
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
37 229
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
41 165
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
33 115
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
30 69
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
21 36
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
20 8
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
23 -27
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
26 -65
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
31 -115
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
23 -147
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
33 -198
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
30 -244
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
29 -293
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
27 -337
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
13 -355
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
17 -383
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
16 -408
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
24 -447
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
21 -480
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
21 -512
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
10 -529
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
27 -575
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
21 -611
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
23 -649
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
30 -694
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

 | age | education | education_num | marital_status | occupation | relationship | race | sex | capital_gain | capital_loss | hours_per_week | native_country
21 -728
Initialized logger with name mice 1-1
Dataset 0
1  | workclass

/Users/kaiyuli/Library/Python/3.9/lib/python/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [workclass,education,education_num,marital_status,occupation,native_country] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

KeyboardInterrupt:

1

In [85]:
# with open("UNBA.csv", 'w') as f:
times = []
precisions = []
recalls = []
F1s = []
rmses = []
for budget in [0.01]:
    ts = 0
    pres = 0
    recs = 0
    fs = 0
    rs = 0
    
    # acquisition results : acquired_df_miss
    st = time.time()
    acquired_df_miss = one_pass_max_uncertainty(df_miss, df_arr, budget, query)
    et = time.time()
    
    for query in tqdm(queries):
        
        imputed_data = IterativeImputer(random_state=0, max_iter=50).fit_transform(acquired_df_miss)
        df_imputed = pd.DataFrame(imputed_data, columns = df.keys().to_list())
        formalize_imputed_df(df_imputed, mapping, df.keys().to_list())

        data_product = query_on_df(query, df_imputed)
        ground_truth = query_on_df(query, df_arr)

        ground_truth_indexes = set(ground_truth.index.values.tolist())
        data_product_indexes = set(data_product.index.values.tolist())
        intersect = ground_truth_indexes.intersection(data_product_indexes)
        indexes_lst = list(intersect)
        imputing_error = get_avg_error(df_arr.iloc[indexes_lst], df_imputed.iloc[indexes_lst], mapping)
        precision = len(intersect)/len(ground_truth_indexes)
        recall = len(intersect)/len(data_product_indexes)
        F1 = 2 * (precision * recall) / (precision + recall)
        rmse = F1*(1-imputing_error)

        ts += (et-st)
        pres += precision
        recs += recall
        fs += F1
        rs += rmse

    times.append(ts/10)
    precisions.append(pres/10)
    recalls.append(recs/10)
    F1s.append(fs/10)
    rmses.append(rs/10)
#     f.write(str(times[-1])+'\t'+
#             str(precisions[-1])+'\t'+
#             str(recalls[-1])+'\t'+
#             str(F1s[-1])+'\t'+
#             str(rmses[-1])+'\t'+
#             '\n')

[(41512, 16),
 (34415, 12),
 (35934, 12),
 (38365, 12),
 (22105, 11),
 (22163, 11),
 (22616, 11),
 (23887, 11),
 (39629, 11),
 (43742, 11),
 (2225, 10),
 (19839, 10),
 (30829, 10),
 (36756, 10),
 (46052, 10),
 (47986, 10),
 (2280, 9),
 (25593, 9),
 (29584, 9),
 (39462, 9),
 (42883, 9),
 (46607, 9),
 (280, 8),
 (1434, 8),
 (10092, 8),
 (12211, 8),
 (16680, 8),
 (19033, 8),
 (21965, 8),
 (23385, 8),
 (27255, 8),
 (29126, 8),
 (31174, 8),
 (32248, 8),
 (36212, 8),
 (39512, 8),
 (45355, 8),
 (2636, 7),
 (4163, 7),
 (5055, 7),
 (5515, 7),
 (5715, 7),
 (8514, 7),
 (9702, 7),
 (13134, 7),
 (14029, 7),
 (15613, 7),
 (18605, 7),
 (22912, 7),
 (23923, 7),
 (24500, 7),
 (24865, 7),
 (29337, 7),
 (29903, 7),
 (30003, 7),
 (31143, 7),
 (32191, 7),
 (32605, 7),
 (38817, 7),
 (620, 6),
 (1602, 6),
 (3566, 6),
 (4598, 6),
 (7486, 6),
 (8388, 6),
 (10336, 6),
 (12695, 6),
 (15367, 6),
 (23062, 6),
 (24585, 6),
 (28299, 6),
 (30392, 6),
 (33770, 6),
 (37955, 6),
 (43352, 6),
 (43894, 6),
 (45058, 6),
 (46268, 6),
 (48061, 6),
 (48469, 6),
 (236, 5),
 (8349, 5),
 (8623, 5),
 (9337, 5),
 (17879, 5),
 (20564, 5),
 (26391, 5),
 (27148, 5),
 (27729, 5),
 (29233, 5),
 (30323, 5),
 (35898, 5),
 (37278, 5),
 (37443, 5),
 (37710, 5),
 (37763, 5),
 (40234, 5),
 (40528, 5),
 (41829, 5),
 (42632, 5),
 (45483, 5),
 (47155, 5),
 (4939, 4),
 (6259, 4),
 (7853, 4),
 (7953, 4),
 (10943, 4),
 (11935, 4),
 (12233, 4),
 (12788, 4),
 (16085, 4),
 (18749, 4),
 (19701, 4),
 (21277, 4),
 (21905, 4),
 (23148, 4),
 (24212, 4),
 (27570, 4),
 (27634, 4),
 (29151, 4),
 (29252, 4),
 (30554, 4),
 (30817, 4),
 (31387, 4),
 (31436, 4),
 (31753, 4),
 (32126, 4),
 (34197, 4),
 (35040, 4),
 (35655, 4),
 (37657, 4),
 (38027, 4),
 (38265, 4),
 (39118, 4),
 (39269, 4),
 (39856, 4),
 (41435, 4),
 (41631, 4),
 (45246, 4),
 (47194, 4),
 (47395, 4),
 (47827, 4),
 (419, 3),
 (2221, 3),
 (3151, 3),
 (3440, 3),
 (3896, 3),
 (4919, 3),
 (5131, 3),
 (5506, 3),
 (5962, 3),
 (6315, 3),
 (7007, 3),
 (7214, 3),
 (7744, 3),
 (7793, 3),
 (9258, 3),
 (9499, 3),
 (9952, 3),
 (11488, 3),
 (12052, 3),
 (12097, 3),
 (12106, 3),
 (13411, 3),
 (13579, 3),
 (13718, 3),
 (14037, 3),
 (14488, 3),
 (14635, 3),
 (15213, 3),
 (15264, 3),
 (15536, 3),
 (16084, 3),
 (16262, 3),
 (17341, 3),
 (17951, 3),
 (18244, 3),
 (19732, 3),
 (20476, 3),
 (21581, 3),
 (23357, 3),
 (23440, 3),
 (23985, 3),
 (24042, 3),
 (24066, 3),
 (25587, 3),
 (25609, 3),
 (25925, 3),
 (27004, 3),
 (27134, 3),
 (27962, 3),
 (28804, 3),
 (29309, 3),
 (30000, 3),
 (30150, 3),
 (30327, 3),
 (30461, 3),
 (30650, 3),
 (30849, 3),
 (31574, 3),
 (31837, 3),
 (31934, 3),
 (32479, 3),
 (35442, 3),
 (35497, 3),
 (35558, 3),
 (36426, 3),
 (36688, 3),
 (37227, 3),
 (37622, 3),
 (37714, 3),
 (38324, 3),
 (38667, 3),
 (39185, 3),
 (39453, 3),
 (39531, 3),
 (40361, 3),
 (41139, 3),
 (41372, 3),
 (41508, 3),
 (41912, 3),
 (42158, 3),
 (42313, 3),
 (42735, 3),
 (42988, 3),
 (44596, 3),
 (47236, 3),
 (47335, 3),
 (47439, 3),
 (47925, 3),
 (48707, 3),
 (36, 2),
 (48, 2),
 (120, 2),
 (700, 2),
 (1003, 2),
 (1572, 2),
 (1866, 2),
 (2423, 2),
 (3097, 2),
 (3357, 2),
 (3996, 2),
 (4577, 2),
 (4619, 2),
 (4992, 2),
 (5381, 2),
 (5618, 2),
 (5770, 2),
 (6044, 2),
 (6053, 2),
 (6262, 2),
 (6400, 2),
 (6664, 2),
 (7019, 2),
 (7037, 2),
 (7304, 2),
 (7316, 2),
 (7855, 2),
 (8281, 2),
 (8445, 2),
 (8508, 2),
 (8527, 2),
 (8837, 2),
 (9010, 2),
 (9077, 2),
 (9203, 2),
 (9227, 2),
 (9368, 2),
 (9411, 2),
 (9552, 2),
 (9713, 2),
 (9929, 2),
 (9950, 2),
 (10526, 2),
 (10918, 2),
 (11471, 2),
 (11661, 2),
 (11813, 2),
 (11916, 2),
 (12069, 2),
 (12084, 2),
 (12240, 2),
 (12534, 2),
 (12772, 2),
 (12774, 2),
 (12847, 2),
 (13990, 2),
 (14069, 2),
 (14453, 2),
 (14583, 2),
 (15097, 2),
 (15639, 2),
 (15867, 2),
 (15900, 2),
 (16125, 2),
 (16818, 2),
 (17226, 2),
 (17386, 2),
 (17696, 2),
 (18526, 2),
 (18614, 2),
 (18724, 2),
 (19209, 2),
 (19331, 2),
 (20451, 2),
 (20707, 2),
 (20721, 2),
 (20811, 2),
 (21031, 2),
 (21178, 2),
 (21278, 2),
 (21738, 2),
 (21795, 2),
 (21832, 2),
 (22092, 2),
 (22344, 2),
 (22369, 2),
 (22371, 2),
 (22509, 2),
 (23193, 2),
 (23194, 2),
 (23408, 2),
 (23596, 2),
 (23787, 2),
 (23981, 2),
 (24011, 2),
 (24671, 2),
 (24962, 2),
 (25583, 2),
 (25760, 2),
 (25907, 2),
 (25913, 2),
 (26137, 2),
 (26558, 2),
 (26916, 2),
 (26997, 2),
 (27048, 2),
 (27191, 2),
 (27209, 2),
 (27408, 2),
 (28115, 2),
 (28133, 2),
 (29474, 2),
 (29534, 2),
 (29739, 2),
 (29943, 2),
 (30064, 2),
 (30236, 2),
 (30443, 2),
 (30471, 2),
 (31008, 2),
 (31089, 2),
 (31176, 2),
 (31578, 2),
 (31856, 2),
 (32118, 2),
 (32120, 2),
 (33074, 2),
 (33250, 2),
 (33863, 2),
 (34150, 2),
 (34770, 2),
 (34822, 2),
 (35257, 2),
 (35398, 2),
 (35801, 2),
 (36398, 2),
 (36761, 2),
 (36926, 2),
 (37317, 2),
 (37882, 2),
 (37966, 2),
 (38072, 2),
 (38648, 2),
 (39082, 2),
 (39290, 2),
 (39315, 2),
 (39636, 2),
 (39792, 2),
 (39887, 2),
 (40107, 2),
 (40114, 2),
 (40564, 2),
 (40645, 2),
 (40868, 2),
 (40998, 2),
 (41094, 2),
 (41373, 2),
 (41674, 2),
 (41926, 2),
 (42604, 2),
 (42842, 2),
 (42981, 2),
 (43305, 2),
 (43388, 2),
 (43449, 2),
 (44172, 2),
 (45148, 2),
 (45851, 2),
 (46149, 2),
 (46197, 2),
 (47043, 2),
 (47512, 2),
 (47919, 2),
 (48026, 2),
 (260, 1),
 (420, 1),
 (683, 1),
 (730, 1),
 (866, 1),
 (1179, 1),
 (1244, 1),
 (1305, 1),
 (1472, 1),
 (1693, 1),
 (1947, 1),
 (2011, 1),
 (2049, 1),
 (2091, 1),
 (2253, 1),
 (2471, 1),
 (2499, 1),
 (2609, 1),
 (2699, 1),
 (2788, 1),
 (2873, 1),
 (2952, 1),
 (3057, 1),
 (3109, 1),
 (3112, 1),
 (3417, 1),
 (3468, 1),
 (3507, 1),
 (3632, 1),
 (3686, 1),
 (3764, 1),
 (3770, 1),
 (3862, 1),
 (3951, 1),
 (3973, 1),
 (4056, 1),
 (4089, 1),
 (4150, 1),
 (4457, 1),
 (4615, 1),
 (4679, 1),
 (4690, 1),
 (4892, 1),
 (4957, 1),
 (5080, 1),
 (5119, 1),
 (5185, 1),
 (5215, 1),
 (5230, 1),
 (5339, 1),
 (5348, 1),
 (5375, 1),
 (5386, 1),
 (5412, 1),
 (5415, 1),
 (5519, 1),
 (5594, 1),
 (5697, 1),
 (5914, 1),
 (5945, 1),
 (6043, 1),
 (6083, 1),
 (6166, 1),
 (6228, 1),
 (6241, 1),
 (6286, 1),
 (6443, 1),
 (6637, 1),
 (6696, 1),
 (6771, 1),
 (6856, 1),
 (6929, 1),
 (6940, 1),
 (7067, 1),
 (7165, 1),
 (7180, 1),
 (7458, 1),
 (7512, 1),
 (7525, 1),
 (7539, 1),
 (7551, 1),
 (7612, 1),
 (7857, 1),
 (7877, 1),
 (7903, 1),
 (8144, 1),
 (8186, 1),
 (8190, 1),
 (8241, 1),
 (8313, 1),
 (8465, 1),
 (8708, 1),
 (8744, 1),
 (8820, 1),
 (8831, 1),
 (8876, 1),
 (8904, 1),
 (8986, 1),
 (9013, 1),
 (9078, 1),
 (9082, 1),
 (9094, 1),
 (9239, 1),
 (9257, 1),
 (9263, 1),
 (9343, 1),
 (9405, 1),
 (9470, 1),
 (9496, 1),
 (9527, 1),
 (9563, 1),
 (9577, 1),
 (9597, 1),
 (9683, 1),
 (9793, 1),
 (9860, 1),
 (9912, 1),
 (10037, 1),
 (10224, 1),
 (10364, 1),
 (10394, 1),
 (10472, 1),
 (10537, 1),
 (10631, 1),
 (10846, 1),
 (10863, 1),
 (10895, 1),
 (10970, 1),
 (10995, 1),
 (11041, 1),
 (11108, 1),
 (11167, 1),
 (11221, 1),
 (11270, 1),
 (11277, 1),
 (11317, 1),
 (11481, 1),
 (11549, 1),
 (11743, 1),
 (11826, 1),
 (12174, 1),
 (12329, 1),
 (12388, 1),
 (12430, 1),
 (12701, 1),
 (12765, 1),
 (12815, 1),
 (12848, 1),
 (13003, 1),
 (13014, 1),
 (13231, 1),
 (13324, 1),
 (13339, 1),
 (13902, 1),
 (14023, 1),
 (14497, 1),
 (14557, 1),
 (14608, 1),
 (14640, 1),
 (14648, 1),
 (14805, 1),
 (14939, 1),
 (14945, 1),
 (14964, 1),
 (14965, 1),
 (14994, 1),
 (15073, 1),
 (15184, 1),
 (15201, 1),
 (15237, 1),
 (15316, 1),
 (15445, 1),
 (15451, 1),
 (15510, 1),
 (15562, 1),
 (15663, 1),
 (15851, 1),
 (15855, 1),
 (15872, 1),
 (15958, 1),
 (16054, 1),
 (16135, 1),
 (16347, 1),
 (16357, 1),
 (16408, 1),
 (16430, 1),
 (16493, 1),
 (16560, 1),
 (16587, 1),
 (16698, 1),
 (16746, 1),
 (16777, 1),
 (16955, 1),
 (16993, 1),
 (17009, 1),
 (17045, 1),
 (17131, 1),
 (17359, 1),
 (17468, 1),
 (17536, 1),
 (17552, 1),
 (17730, 1),
 (17779, 1),
 (17863, 1),
 (17930, 1),
 (17946, 1),
 (17993, 1),
 (17994, 1),
 (18220, 1),
 (18246, 1),
 (18316, 1),
 (18374, 1),
 (18421, 1),
 (18472, 1),
 (18474, 1),
 (18517, 1),
 (18587, 1),
 (18655, 1),
 (18821, 1),
 (18889, 1),
 (18919, 1),
 (19010, 1),
 (19048, 1),
 (19092, 1),
 (19149, 1),
 (19374, 1),
 (19411, 1),
 (19427, 1),
 (19522, 1),
 (19545, 1),
 (19547, 1),
 (19560, 1),
 (19569, 1),
 (19667, 1),
 (19724, 1),
 (19782, 1),
 (19824, 1),
 (19884, 1),
 (19939, 1),
 (20066, 1),
 (20341, 1),
 (20380, 1),
 (20406, 1),
 (20530, 1),
 (20626, 1),
 (20663, 1),
 (20727, 1),
 (20812, 1),
 (20883, 1),
 (20901, 1),
 (20922, 1),
 (20938, 1),
 (20971, 1),
 (21041, 1),
 (21869, 1),
 (22014, 1),
 (22119, 1),
 (22172, 1),
 (22300, 1),
 (22318, 1),
 (22398, 1),
 (22564, 1),
 (22605, 1),
 (22779, 1),
 (22981, 1),
 (23027, 1),
 (23067, 1),
 (23096, 1),
 (23144, 1),
 (23162, 1),
 (23453, 1),
 (23492, 1),
 (23605, 1),
 (23741, 1),
 (23993, 1),
 (24216, 1),
 (24377, 1),
 (24623, 1),
 (24625, 1),
 (24781, 1),
 (25097, 1),
 (25157, 1),
 (25165, 1),
 (25179, 1),
 (25474, 1),
 (25565, 1),
 (25763, 1),
 (25934, 1),
 (25978, 1),
 (25987, 1),
 (26062, 1),
 (26124, 1),
 (26158, 1),
 (26161, 1),
 (26171, 1),
 (26205, 1),
 (26214, 1),
 (26417, 1),
 (26520, 1),
 (26573, 1),
 (26581, 1),
 (26603, 1),
 (26744, 1),
 (26882, 1),
 (27269, 1),
 (27294, 1),
 (27496, 1),
 (27632, 1),
 (27650, 1),
 (27673, 1),
 (28163, 1),
 (28276, 1),
 (28398, 1),
 (28597, 1),
 (28722, 1),
 (28753, 1),
 (28773, 1),
 (28780, 1),
 (29116, 1),
 (29205, 1),
 (29218, 1),
 (29326, 1),
 (29373, 1),
 (29512, 1),
 (29731, 1),
 (29770, 1),
 (29919, 1),
 (30025, 1),
 (30028, 1),
 (30032, 1),
 (30225, 1),
 (30271, 1),
 (30275, 1),
 (30313, 1),
 (30328, 1),
 (30341, 1),
 (30355, 1),
 (30405, 1),
 (30457, 1),
 (30531, 1),
 (30575, 1),
 (30583, 1),
 (30601, 1),
 (30660, 1),
 (30733, 1),
 (30770, 1),
 (30777, 1),
 (30793, 1),
 (30836, 1),
 (30866, 1),
 (30972, 1),
 (31036, 1),
 (31052, 1),
 (31154, 1),
 (31193, 1),
 (31251, 1),
 (31458, 1),
 (31588, 1),
 (31687, 1),
 (31756, 1),
 (31943, 1),
 (31956, 1),
 (31973, 1),
 (32088, 1),
 (32108, 1),
 (32197, 1),
 (32232, 1),
 (32321, 1),
 (32553, 1),
 (32560, 1),
 (32670, 1),
 (32683, 1),
 (32692, 1),
 (32775, 1),
 (32938, 1),
 (33256, 1),
 (33351, 1),
 (33372, 1),
 (33416, 1),
 (33560, 1),
 (33617, 1),
 (33708, 1),
 (33776, 1),
 (33957, 1),
 (34103, 1),
 (34128, 1),
 (34158, 1),
 (34249, 1),
 (34251, 1),
 (34371, 1),
 (34420, 1),
 (34463, 1),
 (34674, 1),
 (34724, 1),
 (34795, 1),
 (34826, 1),
 (34856, 1),
 (34865, 1),
 (35005, 1),
 (35128, 1),
 (35149, 1),
 (35334, 1),
 (35420, 1),
 (35567, 1),
 (35680, 1),
 (35747, 1),
 (35773, 1),
 (35825, 1),
 (36073, 1),
 (36183, 1),
 (36389, 1),
 (36411, 1),
 (36425, 1),
 (36490, 1),
 (36524, 1),
 (36634, 1),
 (36662, 1),
 (36708, 1),
 (36714, 1),
 (36764, 1),
 (36968, 1),
 (37052, 1),
 (37061, 1),
 (37140, 1),
 (37260, 1),
 (37288, 1),
 (37296, 1),
 (37372, 1),
 (37376, 1),
 (37426, 1),
 (37497, 1),
 (37518, 1),
 (37553, 1),
 (37567, 1),
 (37617, 1),
 (37719, 1),
 (37761, 1),
 (37786, 1),
 (37915, 1),
 (37985, 1),
 (38189, 1),
 (38254, 1),
 (38284, 1),
 (38406, 1),
 (38484, 1),
 (38753, 1),
 (38780, 1),
 (38785, 1),
 (38801, 1),
 (38873, 1),
 (39031, 1),
 (39103, 1),
 (39112, 1),
 (39143, 1),
 (39204, 1),
 (39250, 1),
 (39361, 1),
 (39433, 1),
 (39569, 1),
 (39570, 1),
 (39611, 1),
 (39613, 1),
 (39620, 1),
 (39700, 1),
 (39728, 1),
 (39976, 1),
 (40001, 1),
 (40051, 1),
 (40057, 1),
 (40339, 1),
 (40340, 1),
 (40345, 1),
 (40363, 1),
 (40439, 1),
 (40483, 1),
 (40591, 1),
 (40625, 1),
 (40924, 1),
 (40943, 1),
 (41015, 1),
 (41030, 1),
 (41033, 1),
 (41327, 1),
 (41374, 1),
 (41496, 1),
 (41606, 1),
 (41656, 1),
 (41705, 1),
 (41747, 1),
 (41940, 1),
 (41972, 1),
 (41984, 1),
 (42070, 1),
 (42168, 1),
 (42184, 1),
 (42189, 1),
 (42364, 1),
 (42456, 1),
 (42472, 1),
 (42882, 1),
 (42892, 1),
 (42983, 1),
 (43020, 1),
 (43031, 1),
 (43085, 1),
 (43349, 1),
 (43373, 1),
 (43453, 1),
 (43460, 1),
 (43537, 1),
 (43603, 1),
 (43607, 1),
 (43809, 1),
 (43941, 1),
 (44125, 1),
 (44130, 1),
 (44138, 1),
 (44171, 1),
 (44232, 1),
 (44351, 1),
 (44377, 1),
 (44779, 1),
 (44815, 1),
 (44853, 1),
 (44881, 1),
 (44901, 1),
 (45541, 1),
 (45554, 1),
 (45596, 1),
 (45610, 1),
 (45685, 1),
 (45817, 1),
 (45931, 1),
 (46104, 1),
 (46153, 1),
 (46201, 1),
 (46243, 1),
 (46353, 1),
 (46356, 1),
 (46424, 1),
 (47095, 1),
 (47172, 1),
 (47188, 1),
 (47222, 1),
 (47328, 1),
 (47416, 1),
 (47547, 1),
 (47679, 1),
 (47732, 1),
 (47946, 1),
 (47983, 1),
 (48017, 1),
 (48030, 1),
 (48059, 1),
 (48111, 1),
 (48207, 1),
 (48226, 1),
 (48228, 1),
 (48229, 1),
 (48305, 1),
 (48604, 1),
 (48605, 1),
 (48612, 1),
 (48753, 1)]

In [217]:
acquired_df_miss = df_miss_copy

In [57]:
len(acq_task)

969

In [39]:
x_miss.isna().sum().sum(), budget_units

AttributeError: 'numpy.ndarray' object has no attribute 'isna'

In [216]:
df_miss.isna().sum().sum()-df_miss_copy.isna().sum().sum()

1905

In [35]:
#df_miss_copy = df_miss.copy()
acquired_df_miss.isna().sum().sum(), df_miss.isna().sum().sum()

(188571, 190476)

# 6. data imputing

## 6.1 soft imputing

In [6]:
# cv_error, grid_lambda = cv_softimpute(x_miss, grid_len=grid_len_softimputing)
# lbda = grid_lambda[np.argmin(cv_error)]
# imputed_data = softimpute((x_miss), lbda)[1]

# imputed_data = SimpleImputer().fit_transform(x_miss)

## 6.2 ice imputing

In [36]:
# df_imputed after formalization
# float32 and float64 remains float
# others to int64
# imputed_data = IterativeImputer(random_state=0, max_iter=50).fit_transform(acquired_df_miss)
imputed_data = IterativeImputer(random_state=0, max_iter=50).fit_transform(acquired_df_miss)
df_imputed = pd.DataFrame(imputed_data, columns = df.keys().to_list())
formalize_imputed_df(df_imputed, mapping, df.keys().to_list())

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,7,9,12,NaN,1,1,4,1,2174.0,0.0,NaN,39
1,NaN,6,NaN,12,2,4,0,NaN,1,0.0,0.0,13.0,NaN
2,38.0,4,11,8,0,6,1,4,1,0.0,NaN,40.0,NaN
3,NaN,4,1,6,2,6,0,2,1,0.0,0.0,NaN,39
4,NaN,NaN,9,12,NaN,10,5,2,0,0.0,0.0,40.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,4,9,NaN,0,10,1,NaN,0,NaN,0.0,36.0,39
48838,64.0,0,11,8,NaN,0,2,2,1,0.0,NaN,40.0,39
48839,38.0,4,9,NaN,NaN,10,0,4,NaN,0.0,0.0,NaN,39
48840,44.0,4,9,12,0,NaN,3,NaN,1,5455.0,NaN,40.0,39
48841,35.0,5,NaN,NaN,2,4,0,4,1,NaN,NaN,60.0,39

# 7. Query

In [37]:
data_product = query_on_df(query, df_imputed)
ground_truth = query_on_df(query, df_arr)

# 8. Evaluation

In [38]:
ground_truth_indexes = set(ground_truth.index.values.tolist())
data_product_indexes = set(data_product.index.values.tolist())
intersect = ground_truth_indexes.intersection(data_product_indexes)
indexes_lst = list(intersect)
imputing_error = get_avg_error(df_arr.iloc[indexes_lst], df_imputed.iloc[indexes_lst], mapping)
precision = len(intersect)/len(ground_truth_indexes)*(1-imputing_error)
recall = len(intersect)/len(data_product_indexes)*(1-imputing_error)
F1 = 2 * (precision * recall) / (precision + recall)

In [39]:
precision, recall, F1

(0.6135585123342105, 0.8142906182213288, 0.6998147488162082)

In [221]:
precision, recall, F1

(0.6131321733258313, 0.7941169714762272, 0.69198644233624)

In [223]:
F1/(1-imputing_error)

0.6929133858267716

In [222]:
(1-imputing_error)

0.9986622520079826

In [ ]:
# # with open("UNBA.csv", 'w') as f:
# times = []
# precisions = []
# recalls = []
# F1s = []
# rmses = []
# for budget in [0.01]:
#     ts = 0
#     pres = 0
#     recs = 0
#     fs = 0
#     rs = 0
    
#     # acquisition results : acquired_df_miss
#     st = time.time()
#     acquired_df_miss = one_pass_max_uncertainty(df_miss, df_arr, budget, query)
#     et = time.time()
    
#     for query in tqdm(queries):
        
#         imputed_data = IterativeImputer(random_state=0, max_iter=50).fit_transform(acquired_df_miss)
#         df_imputed = pd.DataFrame(imputed_data, columns = df.keys().to_list())
#         formalize_imputed_df(df_imputed, mapping, df.keys().to_list())

#         data_product = query_on_df(query, df_imputed)
#         ground_truth = query_on_df(query, df_arr)

#         ground_truth_indexes = set(ground_truth.index.values.tolist())
#         data_product_indexes = set(data_product.index.values.tolist())
#         intersect = ground_truth_indexes.intersection(data_product_indexes)
#         indexes_lst = list(intersect)
#         imputing_error = get_avg_error(df_arr.iloc[indexes_lst], df_imputed.iloc[indexes_lst], mapping)
#         precision = len(intersect)/len(ground_truth_indexes)
#         recall = len(intersect)/len(data_product_indexes)
#         F1 = 2 * (precision * recall) / (precision + recall)
#         rmse = F1*(1-imputing_error)

#         ts += (et-st)
#         pres += precision
#         recs += recall
#         fs += F1
#         rs += rmse

#     times.append(ts/10)
#     precisions.append(pres/10)
#     recalls.append(recs/10)
#     F1s.append(fs/10)
#     rmses.append(rs/10)
# #     f.write(str(times[-1])+'\t'+
# #             str(precisions[-1])+'\t'+
# #             str(recalls[-1])+'\t'+
# #             str(F1s[-1])+'\t'+
# #             str(rmses[-1])+'\t'+
# #             '\n')

In [60]:
# Example usage:
num_arms = 5
bandit = UCBMultiArmBandit(num_arms, [1,2,3,4,5])

# Simulate bandit plays
num_plays = 500
for _ in range(num_plays):
    chosen_arm = bandit.select_arm()
    # the reward should be if it has found a usable tuple
    reward = np.random.randint(1,10)
    bandit.update(chosen_arm, reward)

# Print the estimated means for each arm
for arm in range(num_arms):
    estimated_mean = bandit.total_rewards[arm] / bandit.arm_counts[arm]
    print(f"Arm {arm + 1}: Estimated Mean = {estimated_mean}, Plays = {bandit.arm_counts[arm]}")

Arm 1: Estimated Mean = 5.255813953488372, Plays = 86.0
Arm 2: Estimated Mean = 4.862745098039215, Plays = 51.0
Arm 3: Estimated Mean = 4.2727272727272725, Plays = 11.0
Arm 4: Estimated Mean = 5.061224489795919, Plays = 147.0
Arm 5: Estimated Mean = 5.107317073170732, Plays = 205.0

In [36]:
def greedy_acquisition(df_miss, df_arr, budget, queries):
    df_miss_copy = df_miss.copy()
    columns = []
    for query in queries:
        query_columns = [q['col'] for q in query]
        columns += query_columns

    total_acq_num = budget*df_miss.isna().sum().sum()      # get acquisition cell number
    columns_count = dict(Counter(columns))
    for k, v in columns_count.items():
        _rows = np.where(np.isnan(df_miss_copy[k].to_numpy())) # get rows for missing column k
        sample_num = int(v / len(columns)*total_acq_num)       # get acquisition cell number in column k
        sample_rows = random.sample(range(len(_rows[0])), sample_num)
        for r in sample_rows:
            df_miss_copy[k].iat[_rows[0][r]] = df_arr[k].iat[_rows[0][r]]
    
    return df_miss_copy

# code for UCB